body {
font-family: "Noto Nastaliq Urdu", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;    text-align: center;
    margin: 0;
  font-style: normal;    text-align: center;
    margin: 0;
    padding: 0;
        background-color: #121212;
    color: #e0e0e0;
}

.container {
    max-width: 100%;
    /* margin: 50px auto; */
    /* background-color: #fff; */
    /* padding: 20px; */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h1 {
    color: #fafafafa;
}

.slider {
    position: relative;
    width: 100%;
    /* height: 100%; */
    overflow: hidden;
    border-radius: 8px;
    height: 90vh;
    display: none;

}

#slide-image {
    width: 100%;
    height: 100%;
    object-fit:contain;
}

#slide-text {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 18px;
    width: 80%;
    box-sizing: border-box;
}
